nav.cta-nav {
    &.desktop {
        display: none;
        padding: 0 0 20px 0;

        @include desktop-small {
            padding: 20px 0 40px 0;

            display: block;
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cta-btn {
        padding: 0 0 20px 0;
        width: 100%;
        text-align: center;

        @include desktop-small {
            padding: 0 20px;
            width: auto;
        }
    }

    a {
        color: $slate;
        font-family: $montserrat;
        padding: 12px 20px 10px;
        font-size: $type-size-150;
        line-height: 1em;
        letter-spacing: 0.05em;
        font-weight: normal;
        text-transform: uppercase;
        border: 2px solid $goldenrod;
        display: inline-block;

        &:hover {
            background: $goldenrod;
            color: $white;
        }
    }
}
