nav#main-nav {
    background: $green;
    padding: 10px 0;
    display: none;

    @include desktop-small {
        display: block;
    }

    a {
        color: $white;
        font-family: $montserrat;
        padding: 0 10px;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    ul#menu-desktop-menu {
        display: flex;
        justify-content: center;

        & > li {
            padding: 10px 0;
        }

        li.menu-item-has-children:hover {
            ul.sub-menu {
                opacity: 1;
                transform: translate(0px, 15px);
            }
        }

        ul.sub-menu {
            opacity: 0;
            position: absolute;
            z-index: 1000;
            transition: all 0.3s ease-in-out;

            border: 1px solid $goldenrod;
            background: $white;
            transform: translate(0px, 0px);

            a {
                color: $goldenrod;
                white-space: nowrap;
                display: block;
                text-align: left;
                padding: 15px 20px;
                margin: 0;

                &:hover {
                    background: $goldenrod;
                    color: $white;
                    text-decoration: none;
                }
            }
        }

        #menu-item-525 {
            ul.sub-menu {
                transform: translateX(-75px);
            }

            &:hover {
                ul.sub-menu {
                    transform: translate(-75px, 15px);
                }
            }
        }
    }
}
