#toggle {
    width: 34px;
    cursor: pointer;
    padding: 8px 5px 8px 5px;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

    @include desktop-small {
        display: none;
    }

    .patty {
        width: 30px;
        height: 2px;
        background: $goldenrod;
        transition: all 0.3s;

        &:after,
        &:before {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background: $goldenrod;
            position: absolute;
            z-index: 1;
            transition: all 0.3s;
        }
        &:before {
            top: -8px;
        }
        &:after {
            top: 8px;
        }
    }
}

&.open {
    #toggle .patty {
        background: none;

        &:after {
            top: 0;
            transform: rotate(45deg);
        }
        &:before {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
