.site-header {
    padding: 1.5rem 0;
    border-top: 5px solid $green;
    align-items: center;
    gap: 2rem;

    @include tablet {
        gap: 4rem 2rem;
        padding-bottom: 4rem;
    }

    @include desktop-small {
        padding: 3rem 0;
        border: none;
    }

    & > div {
        @include desktop-small {
            grid-column: span 4;
        }
    }

    @import 'logo';

    @import 'offices';

    @import 'hamburger';
}

@import 'desktop-nav';

@import 'cta-nav';

@import 'mobile-nav';
