.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include desktop-small {
        justify-content: center;
        order: 2;
    }

    a {
        display: block;

        @include desktop-small {
            margin: 0 auto;
        }
    }

    img {
        max-width: 12.5rem;

        @include desktop-small {
            max-width: 15rem;
        }
    }
}
