nav#mobile-nav {
    display: none;
    padding: 0 0 20px 0;

    @include desktop-small {
        display: none !important;
    }

    div.main-nav {
        a {
            display: block;
            text-align: center;
            padding: 10px 0;
            font-family: $montserrat;
            font-size: 0.875em;
            font-weight: 400;
        }
    }

    nav.cta-nav {
        padding: 20px 0 0 0;
    }
}
