.office {
    text-align: center;

    @include tablet {
        grid-column: span 4;
    }

    .sub-head {
        padding-bottom: 0.5rem;
    }

    p {
        font-size: $type-size-300;
        line-height: 1.5em;
        font-family: $chaparral;
        font-style: italic;

        a {
            color: $dark-blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.downtown-seattle {
    @include tablet {
        grid-column: 2 / span 4;
    }

    @include desktop-small {
        order: 1;
    }
}

.mercer-island {
    @include desktop-small {
        order: 3;
    }
}
