@charset "UTF-8";
/*

    Theme Name: CORE Endodontics
    Theme URI: http://core-endo.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.1 CORE Endodontics
    Version: 1.1

*/
@font-face {
  font-family: "acherus";
  src: url("fonts/acherus_grotesque_-_regular-webfont.woff2") format("woff2"), url("fonts-_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative;
}

/* Selection  */
::-moz-selection {
  background: #84a7a3;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #84a7a3;
  color: #fff;
  text-shadow: none;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.three-col-grid {
  display: grid;
  gap: 4rem 2rem;
}
@media screen and (min-width: 480px) {
  .three-col-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .three-col-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.three-col-grid .item.center {
  text-align: center;
}
.three-col-grid .item.center .icon,
.three-col-grid .item.center .photo {
  display: flex;
  justify-content: center;
}
.three-col-grid .item.center .headline,
.three-col-grid .item.center .copy {
  max-width: 18rem;
  margin: 0 auto;
}

.four-col-grid {
  display: grid;
  gap: 4rem 2rem;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .four-col-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .four-col-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .four-col-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.four-col-grid .item.center {
  text-align: center;
}
.four-col-grid .item.center .headline,
.four-col-grid .item.center .copy {
  max-width: 18rem;
  margin: 0 auto;
}
.four-col-grid .icon,
.four-col-grid .photo,
.four-col-grid .logo {
  display: flex;
  justify-content: center;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
}

::-moz-selection {
  background: #e9be3a;
  text-shadow: none;
}

::selection {
  background: #e9be3a;
  text-shadow: none;
}

a {
  color: #84a7a3;
  text-decoration: none;
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.sub-head {
  font-weight: 600;
  color: #84a7a3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
}

.section-header {
  text-align: center;
}
.section-header h3 {
  color: #84a7a3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 0.9375em;
  padding: 0 0 10px 0;
  border-bottom: 4px solid;
  display: inline-block;
  margin: 0 0 50px 0;
}
.section-header h3.goldenrod {
  color: #e9be3a;
}
.section-header h3.dark-blue {
  color: #353a3e;
}

.btn {
  color: #2a2a2a;
  padding: 12px 20px 10px;
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  line-height: 1em;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid #e9be3a;
  display: inline-block;
}
.btn:hover {
  background: #e9be3a;
  color: #fff;
}

body {
  background: #fcfcfc;
}

.wrapper {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 25px;
  transition: padding 0.2s ease-in;
}
@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1250px) {
  .wrapper {
    padding: 0;
  }
}

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

section#hero {
  display: flex;
  flex-wrap: wrap;
}
section#hero .info,
section#hero .photo {
  height: 240px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  section#hero .info,
section#hero .photo {
    height: 360px;
  }
}
@media screen and (min-width: 768px) {
  section#hero .info,
section#hero .photo {
    height: 480px;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  section#hero .info,
section#hero .photo {
    height: 600px;
  }
}
section#hero .wrapper {
  height: 100%;
}
section#hero .hero-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 0 0 25px 0;
}
@media screen and (min-width: 768px) {
  section#hero .hero-wrapper {
    padding: 0 0 50px 0;
  }
}
section#hero .info {
  background: #84a7a3;
  align-items: center;
  display: flex;
  padding: 50px;
}
section#hero .info h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.25em;
  color: #fff;
  max-width: 480px;
}
section#hero .info h1 br {
  display: none;
}
@media screen and (min-width: 768px) {
  section#hero .info h1 {
    font-size: 1.75em;
  }
}
@media screen and (min-width: 1280px) {
  section#hero .info h1 {
    font-size: 2.5em;
  }
}
section#hero .info h2 {
  color: #353a3e;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  padding: 15px 0 0 0;
}
@media screen and (min-width: 768px) {
  section#hero .info h2 {
    font-size: 1em;
  }
}
@media screen and (min-width: 1280px) {
  section#hero .info h2 {
    font-size: 1.125em;
  }
}
section#hero .info h2::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #353a3e;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 1280px) {
  section#hero .info h2::before {
    height: 4px;
  }
}

section#main {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  section#main {
    padding: 100px 0;
  }
}

.jp-carousel-info {
  display: none;
}

.jp-carousel-overlay {
  opacity: 0.98 !important;
}

.jp-carousel-close-hint span {
  font-size: 48px !important;
  height: 48px;
}

body div.wpforms-container-full {
  margin: 0 auto;
  max-width: 640px;
}

body div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
body div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
body div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
  max-width: 100%;
}

body div.wpforms-container-full .wpforms-form button[type=submit] {
  color: #2a2a2a;
  padding: 12px 20px 10px;
  font-size: 0.6875em;
  line-height: 1em;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #e9be3a;
  display: inline-block;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
body div.wpforms-container-full .wpforms-form button[type=submit]:hover {
  background: #e9be3a;
  color: #fff;
}

.site-header {
  padding: 1.5rem 0;
  border-top: 5px solid #84a7a3;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .site-header {
    gap: 4rem 2rem;
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header {
    padding: 3rem 0;
    border: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header > div {
    grid-column: span 4;
  }
}
.site-header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .site-header .logo {
    justify-content: center;
    order: 2;
  }
}
.site-header .logo a {
  display: block;
}
@media screen and (min-width: 992px) {
  .site-header .logo a {
    margin: 0 auto;
  }
}
.site-header .logo img {
  max-width: 12.5rem;
}
@media screen and (min-width: 992px) {
  .site-header .logo img {
    max-width: 15rem;
  }
}
.site-header .office {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site-header .office {
    grid-column: span 4;
  }
}
.site-header .office .sub-head {
  padding-bottom: 0.5rem;
}
.site-header .office p {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.5em;
  font-family: "chaparral-pro", serif;
  font-style: italic;
}
.site-header .office p a {
  color: #353a3e;
}
.site-header .office p a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .site-header .downtown-seattle {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-header .downtown-seattle {
    order: 1;
  }
}
@media screen and (min-width: 992px) {
  .site-header .mercer-island {
    order: 3;
  }
}
.site-header #toggle {
  width: 34px;
  cursor: pointer;
  padding: 8px 5px 8px 5px;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
@media screen and (min-width: 992px) {
  .site-header #toggle {
    display: none;
  }
}
.site-header #toggle .patty {
  width: 30px;
  height: 2px;
  background: #e9be3a;
  transition: all 0.3s;
}
.site-header #toggle .patty:after, .site-header #toggle .patty:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #e9be3a;
  position: absolute;
  z-index: 1;
  transition: all 0.3s;
}
.site-header #toggle .patty:before {
  top: -8px;
}
.site-header #toggle .patty:after {
  top: 8px;
}
.site-header.open #toggle .patty {
  background: none;
}
.site-header.open #toggle .patty:after {
  top: 0;
  transform: rotate(45deg);
}
.site-header.open #toggle .patty:before {
  top: 0;
  transform: rotate(-45deg);
}

nav#main-nav {
  background: #84a7a3;
  padding: 10px 0;
  display: none;
}
@media screen and (min-width: 992px) {
  nav#main-nav {
    display: block;
  }
}
nav#main-nav a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
}
nav#main-nav a:hover {
  text-decoration: underline;
}
nav#main-nav ul#menu-desktop-menu {
  display: flex;
  justify-content: center;
}
nav#main-nav ul#menu-desktop-menu > li {
  padding: 10px 0;
}
nav#main-nav ul#menu-desktop-menu li.menu-item-has-children:hover ul.sub-menu {
  opacity: 1;
  transform: translate(0px, 15px);
}
nav#main-nav ul#menu-desktop-menu ul.sub-menu {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  border: 1px solid #e9be3a;
  background: #fff;
  transform: translate(0px, 0px);
}
nav#main-nav ul#menu-desktop-menu ul.sub-menu a {
  color: #e9be3a;
  white-space: nowrap;
  display: block;
  text-align: left;
  padding: 15px 20px;
  margin: 0;
}
nav#main-nav ul#menu-desktop-menu ul.sub-menu a:hover {
  background: #e9be3a;
  color: #fff;
  text-decoration: none;
}
nav#main-nav ul#menu-desktop-menu #menu-item-525 ul.sub-menu {
  transform: translateX(-75px);
}
nav#main-nav ul#menu-desktop-menu #menu-item-525:hover ul.sub-menu {
  transform: translate(-75px, 15px);
}

nav.cta-nav.desktop {
  display: none;
  padding: 0 0 20px 0;
}
@media screen and (min-width: 992px) {
  nav.cta-nav.desktop {
    padding: 20px 0 40px 0;
    display: block;
  }
}
nav.cta-nav .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav.cta-nav .cta-btn {
  padding: 0 0 20px 0;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  nav.cta-nav .cta-btn {
    padding: 0 20px;
    width: auto;
  }
}
nav.cta-nav a {
  color: #2a2a2a;
  font-family: "Montserrat", sans-serif;
  padding: 12px 20px 10px;
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  line-height: 1em;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid #e9be3a;
  display: inline-block;
}
nav.cta-nav a:hover {
  background: #e9be3a;
  color: #fff;
}

nav#mobile-nav {
  display: none;
  padding: 0 0 20px 0;
}
@media screen and (min-width: 992px) {
  nav#mobile-nav {
    display: none !important;
  }
}
nav#mobile-nav div.main-nav a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
}
nav#mobile-nav nav.cta-nav {
  padding: 20px 0 0 0;
}

.referral {
  background: #c5d6ce;
  padding: 4rem 0;
  text-align: center;
  color: #353a3e;
}
.referral h4 {
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
  font-weight: 700;
  padding: 0 0 1.5rem 0;
}
.referral a {
  display: inline-block;
  border-color: #353a3e;
  color: #353a3e;
}
.referral a:hover {
  text-decoration: none;
  background: #353a3e;
  color: #c5d6ce;
}

.site-footer {
  padding: 4rem 0;
  background: #353a3e;
  color: #fff;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .site-footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .site-footer .wrapper .footer-navigation {
    width: 70%;
  }
  .site-footer .wrapper .footer-info {
    width: 30%;
  }
  .site-footer .wrapper .copyright {
    width: 100%;
  }
}
.site-footer .logo {
  display: flex;
  justify-content: center;
}
.site-footer .logo img {
  max-width: 10rem;
}
.site-footer .main-nav {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .site-footer .main-nav {
    grid-column: 4/span 8;
  }
}
.site-footer .main-nav a {
  color: #fff;
  display: block;
  padding: 10px 0;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  line-height: 1.75em;
}
@media screen and (min-width: 768px) {
  .site-footer .main-nav a {
    display: inline-block;
    padding: 0 10px 0 0;
  }
  .site-footer .main-nav a + a:before {
    content: "/";
    padding: 0 10px 0 0;
    display: inline-block;
  }
}
.site-footer .main-nav a:hover {
  text-decoration: underline;
}
.site-footer .office {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site-footer .office {
    grid-column: span 4;
  }
}
@media screen and (min-width: 768px) {
  .site-footer .office.downtown-seattle {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .office.downtown-seattle {
    grid-column: 4/span 4;
  }
}
.site-footer .office .sub-head {
  color: #e9be3a;
  padding-bottom: 0.5rem;
}
.site-footer .office a {
  color: #fff;
  text-decoration: none;
}
.site-footer .office a:hover {
  text-decoration: underline;
}
.site-footer .office p {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.5em;
  font-family: "chaparral-pro", serif;
  font-style: italic;
}
.site-footer nav.cta-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .site-footer nav.cta-nav {
    padding-bottom: 2rem;
  }
}
.site-footer nav.cta-nav .cta-btn {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .site-footer nav.cta-nav .cta-btn {
    width: auto;
  }
}
.site-footer nav.cta-nav .cta-btn + .cta-btn {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .site-footer nav.cta-nav .cta-btn + .cta-btn {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
.site-footer nav.cta-nav a {
  color: #fff;
}
.site-footer nav.cta-nav a:hover {
  background: #e9be3a;
  color: #fff;
}
.site-footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.25rem;
}
@media screen and (min-width: 992px) {
  .site-footer .copyright {
    margin-top: 2rem;
  }
}
.site-footer .copyright p {
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  opacity: 0.25;
}

body.home section#about-statement {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  body.home section#about-statement {
    padding: 100px 0;
  }
}
body.home section#about-statement .wrapper {
  max-width: 960px;
}
body.home section#about-statement p {
  text-align: center;
  font-family: "chaparral-pro", serif;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #353a3e;
}
@media screen and (min-width: 768px) {
  body.home section#about-statement p {
    font-size: 1.5em;
  }
}
body.home section#appointment {
  padding: 50px 0;
  background: #e9be3a;
  color: #fff;
  text-align: center;
}
body.home section#appointment h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.home section#appointment h3 {
    font-size: 2.5em;
  }
}
body.home section#appointment p {
  font-style: italic;
  font-family: "chaparral-pro", serif;
  padding: 0 0 20px 0;
  font-size: 1.25em;
}
body.home section#appointment .btn {
  color: #fff;
  border-color: #fff;
}
body.home section#appointment .btn:hover {
  background: #fff;
  color: #e9be3a;
}
body.home section#features {
  padding: 50px 0;
}
body.home section#features h3 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #353a3e;
}
body.home section#features h3 span {
  border-bottom: 2px solid;
  display: inline-block;
  margin: 0 0 50px 0;
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.home section#features {
    padding: 100px 0;
  }
}
@media screen and (min-width: 768px) {
  body.home section#features .features-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
body.home section#features .feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 100px 0;
}
@media screen and (min-width: 768px) {
  body.home section#features .feature {
    padding: 0;
    width: 33.3333%;
    display: block;
  }
}
body.home section#features .feature .info,
body.home section#features .feature .photo {
  width: 45%;
}
@media screen and (min-width: 768px) {
  body.home section#features .feature .info,
body.home section#features .feature .photo {
    width: 100%;
  }
}
body.home section#features .feature:nth-child(odd) .photo {
  order: 2;
}
@media screen and (min-width: 768px) {
  body.home section#features .feature:nth-child(odd) .photo img {
    margin: 0 auto;
  }
}
body.home section#features .feature:nth-child(even) .photo img {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  body.home section#features .feature:nth-child(even) .photo img {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  body.home section#features .feature:nth-child(even) .photo {
    order: -1;
  }
}
@media screen and (min-width: 768px) {
  body.home section#features .info {
    text-align: center;
    padding: 50px 30px 0 30px;
  }
}
body.home section#features .info h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-style: 0.875em;
  padding: 0 0 10px 0;
}
body.home section#features .info h4 a {
  color: #2a2a2a;
}
body.home section#features .info h4 a:hover {
  text-decoration: underline;
}
body.home section#features .info p {
  font-family: "chaparral-pro", serif;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.home section#features .info p {
    font-size: 1.125em;
  }
}
body.home section#features .photo img {
  border-radius: 50%;
  border: 2px solid #e9be3a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  body.home section#features .photo img {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
}
body.home section#instagram {
  padding: 0 0 100px 0;
}
body.home section#instagram #sb_instagram #sbi_load {
  padding: 0 !important;
}
body.home section#instagram #sb_instagram #sbi_load .sbi_follow_btn {
  margin: 0;
  padding: 25px 0 0 0;
}

body.page-template-about section#mark-germack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body.page-template-about section#mark-germack .photo,
body.page-template-about section#mark-germack .info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#mark-germack .photo,
body.page-template-about section#mark-germack .info {
    width: 50%;
  }
}
body.page-template-about section#mark-germack .info {
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#mark-germack .info {
    padding: 50px;
  }
}
body.page-template-about section#mark-germack .info h2 {
  color: #84a7a3;
  font-weight: bold;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.05em;
}
body.page-template-about section#mark-germack .info h5 {
  padding: 0 0 25px 0;
  color: #e9be3a;
  font-weight: bold;
  font-size: 1em;
}
body.page-template-about section#mark-germack .info p {
  font-size: 1.125em;
  line-height: 1.375em;
  font-family: "chaparral-pro", serif;
}
body.page-template-about section#mark-germack .info p + p {
  padding: 15px 0 0 0;
}
body.page-template-about section#our-doctors {
  padding: 3rem 0;
}
body.page-template-about section#our-doctors .doctor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body.page-template-about section#our-doctors .doctor + .doctor {
  padding-top: 6rem;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#our-doctors .doctor:nth-child(even) .info {
    order: -1;
  }
}
body.page-template-about section#our-doctors .photo,
body.page-template-about section#our-doctors .info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#our-doctors .photo,
body.page-template-about section#our-doctors .info {
    width: 50%;
  }
}
body.page-template-about section#our-doctors .info {
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#our-doctors .info {
    padding: 50px;
  }
}
body.page-template-about section#our-doctors .info h2 {
  color: #84a7a3;
  font-weight: bold;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.05em;
}
body.page-template-about section#our-doctors .info h5 {
  padding: 0 0 25px 0;
  color: #e9be3a;
  font-weight: bold;
  font-size: 1em;
}
body.page-template-about section#our-doctors .info p {
  font-size: 1.125em;
  line-height: 1.375em;
  font-family: "chaparral-pro", serif;
}
body.page-template-about section#our-doctors .info p + p {
  padding: 15px 0 0 0;
}
body.page-template-about .awards {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.page-template-about .awards .award {
  width: 100%;
  padding: 0 0 25px 0;
}
body.page-template-about .awards .award img {
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  body.page-template-about .awards .award img {
    max-width: 220px;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .awards .award img {
    max-width: 300px;
  }
}
@media screen and (min-width: 480px) {
  body.page-template-about .awards .award {
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about .awards .award {
    width: 31.3333%;
  }
}
body.page-template-about section#team {
  padding: 100px 0 0 0;
}
body.page-template-about section#team .team-member {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 50px 0;
}
body.page-template-about section#team .team-member .photo,
body.page-template-about section#team .team-member .info {
  width: 100%;
}
body.page-template-about section#team .team-member .photo {
  padding: 0 0 20px 0;
}
body.page-template-about section#team .team-member .photo img {
  border-radius: 50%;
  border: 2px solid #e9be3a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
body.page-template-about section#team .team-member .info h4 {
  color: #84a7a3;
  font-weight: bold;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: 0.05em;
}
body.page-template-about section#team .team-member .info h5 {
  padding: 0 0 25px 0;
  color: #e9be3a;
  font-weight: bold;
  font-size: 0.875em;
}
body.page-template-about section#team .team-member .info p {
  font-size: 1em;
  line-height: 1.375em;
  font-family: "chaparral-pro", serif;
}
body.page-template-about section#team .team-member .info p + p {
  padding: 15px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-about section#team .team-member {
    padding: 0 0 100px 0;
  }
  body.page-template-about section#team .team-member .photo {
    width: 30%;
    padding: 0;
  }
  body.page-template-about section#team .team-member .info {
    width: 60%;
  }
}

body.page-template-contact .site-header .office {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-contact .site-header .office {
    display: block;
  }
}
body.page-template-contact .locations {
  padding-top: 3rem;
  gap: 4rem 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-contact .locations .downtown-seattle {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-contact .locations .downtown-seattle {
    grid-column: 3/span 5;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-contact .locations .mercer-island {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-contact .locations .mercer-island {
    grid-column: 8/span 5;
  }
}
body.page-template-contact .locations .sub-head {
  text-align: center;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  padding-bottom: 2rem;
}
body.page-template-contact .locations .info {
  text-align: center;
  padding: 2rem 0;
}
body.page-template-contact .locations .info h5 {
  font-family: "chaparral-pro", serif;
  font-style: italic;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  color: #444;
  letter-spacing: 0.05em;
  padding: 0 0 5px 0;
}
body.page-template-contact .locations .info p {
  padding-bottom: 2rem;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  line-height: 1.5em;
}
body.page-template-contact .locations .info p:last-of-type {
  padding-bottom: 0;
}
body.page-template-contact .locations .info p a {
  color: #353a3e;
}
body.page-template-contact .locations .info p a:hover {
  text-decoration: underline;
}
body.page-template-contact .locations .directions {
  max-width: 24rem;
  margin: 0 auto;
}
body.page-template-contact .locations .google-maps {
  margin-top: 1rem;
  font-weight: bold;
  display: inline-block;
  color: #84a7a3 !important;
  border-bottom: 2px solid;
}
body.page-template-contact .locations .google-maps:hover {
  text-decoration: none;
}
body.page-template-contact .contact-form {
  padding-bottom: 4rem;
}
body.page-template-contact .contact-form .section-header {
  padding: 4rem 0 0 0;
  border-top: 4px solid #353a3e;
  margin: 4rem 0 0 0;
}

body.page-template-payments section#payment-info,
body.page-template-payments section#payment-form {
  padding: 100px 0 0 0;
}
body.page-template-payments section.copy {
  margin: 0 auto;
  max-width: 720px;
}
body.page-template-payments section.copy p {
  font-family: "chaparral-pro", serif;
  padding: 0 0 20px 0;
  font-size: 1.25em;
  line-height: 1.5em;
}
body.page-template-payments section.copy ul {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 0 0 40px 0;
}
@media screen and (min-width: 480px) {
  body.page-template-payments section.copy ul {
    -moz-columns: 2;
         columns: 2;
    -moz-column-width: 50%;
         column-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-payments section.copy ul {
    -moz-columns: 3;
         columns: 3;
    -moz-column-width: 33.3333%;
         column-width: 33.3333%;
  }
}
body.page-template-payments section.copy ul li {
  font-size: 1.25em;
  padding: 5px 0;
}
body.page-template-payments section.copy ul li:before {
  content: "· ";
  color: #e9be3a;
  font-weight: bold;
  padding: 0 5px 0 0;
  display: inline-block;
}
body.page-template-payments section#payment-form form {
  padding: 0 0 40px 0;
}
body.page-template-payments section#payment-form form input[type=image] {
  display: block;
  margin: 0 auto;
}
body.page-template-payments section#payment-form form input[type=image]:hover {
  cursor: pointer;
}
body.page-template-payments section#payment-form form input[type=image]:focus, body.page-template-payments section#payment-form form input[type=image]:active {
  outline: none;
}
body.page-template-payments section#payment-form p {
  text-align: center;
}

body.page-template-schedule section.copy {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 0 50px 0;
}
body.page-template-schedule section.copy p {
  font-family: "chaparral-pro", serif;
  padding: 0 0 20px 0;
  font-size: 1.25em;
  line-height: 1.5em;
}

body.page-template-referrals section.copy {
  margin: 0 auto;
  max-width: 720px;
  padding: 50px 0 0 0;
}
body.page-template-referrals section.copy p {
  font-family: "chaparral-pro", serif;
  padding: 0 0 20px 0;
  font-size: 1.25em;
  line-height: 1.5em;
}
body.page-template-referrals section.copy ul {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0 40px 0px;
  font-size: 0.9375em;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  body.page-template-referrals section.copy ul {
    -moz-columns: 3;
         columns: 3;
    -moz-column-width: 33.3333%;
         column-width: 33.3333%;
    font-size: 0.875em;
  }
}
body.page-template-referrals section.copy ul li {
  position: relative;
  padding: 0 0 10px 0;
}
body.page-template-referrals section.copy ul li:before {
  content: "·";
  padding: 0 5px 0 0;
  color: #e9be3a;
  font-weight: 900;
}

body.page-template-guide section#main {
  counter-reset: section;
}
body.page-template-guide section#main section.phase + section.phase {
  padding: 50px 0 0 0;
  border-top: 1px dotted #84a7a3;
  margin: 50px 0 0 0;
}
@media screen and (min-width: 1280px) {
  body.page-template-guide section#main section.phase + section.phase {
    padding: 100px 0 0 0;
    margin: 100px 0 0 0;
  }
}
body.page-template-guide section#main section.phase .header {
  padding: 0 0 25px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .header {
    padding: 0 0 50px 0;
  }
}
body.page-template-guide section#main section.phase .header h2.phase-title {
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1em;
  color: #353a3e;
  max-width: 640px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .header h2.phase-title {
    text-align: center;
    font-size: 2.5em;
  }
}
body.page-template-guide section#main section.phase .header h2.phase-title:before {
  display: block;
  counter-increment: section;
  content: "Phase " counter(section);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.5625em;
  padding: 0 0 10px 0;
  color: #84a7a3;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .header h2.phase-title:before {
    font-size: 0.375em;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  body.page-template-guide section#main section.phase .body .fact-box {
    order: -1;
    width: 20%;
  }
  body.page-template-guide section#main section.phase .body .narrative {
    width: 45%;
  }
  body.page-template-guide section#main section.phase .body .faqs {
    width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-guide section#main section.phase .body .fact-box {
    order: -1;
    width: 17.5%;
    margin: 25px 0 0 0;
  }
  body.page-template-guide section#main section.phase .body .narrative {
    width: 47.5%;
    padding: 0 50px 0 50px;
  }
  body.page-template-guide section#main section.phase .body .faqs {
    width: 20%;
  }
}
body.page-template-guide section#main section.phase .narrative {
  padding: 0 0 50px 0;
}
body.page-template-guide section#main section.phase .narrative p {
  font-family: "chaparral-pro", serif;
  font-size: 1.125em;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .narrative p {
    font-size: 1.375em;
  }
  body.page-template-guide section#main section.phase .narrative p:first-child:first-letter {
    color: #e9be3a;
    float: left;
    font-size: 4em;
    font-style: italic;
    line-height: 1em;
    margin: 5px 10px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-guide section#main section.phase .narrative p {
    font-size: 1.5em;
  }
}
body.page-template-guide section#main section.phase .narrative p + p {
  padding: 5px 0 0 0;
  text-indent: 25px;
}
body.page-template-guide section#main section.phase .narrative ul {
  clear: both;
  font-family: "chaparral-pro", serif;
  font-size: 1.125em;
  line-height: 1.5em;
  padding: 0 0 0 20px;
  list-style-type: disc;
  margin: 0 0 0 20px;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .narrative ul {
    font-size: 1.25em;
  }
}
body.page-template-guide section#main section.phase .fact-box {
  border: 1px solid #e9be3a;
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .fact-box {
    margin: 50px 0 0 0;
  }
}
body.page-template-guide section#main section.phase .fact-box .fb-header {
  background: #e9be3a;
  padding: 15px 10px;
  text-align: center;
}
body.page-template-guide section#main section.phase .fact-box .fb-header h4 {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8125em;
  line-height: 1.25em;
}
body.page-template-guide section#main section.phase .fact-box .fb-body {
  padding: 20px;
}
body.page-template-guide section#main section.phase .fact-box .fb-body p,
body.page-template-guide section#main section.phase .fact-box .fb-body ul,
body.page-template-guide section#main section.phase .fact-box .fb-body ol {
  font-size: 0.875em;
  line-height: 1.75em;
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase .fact-box .fb-body p,
body.page-template-guide section#main section.phase .fact-box .fb-body ul,
body.page-template-guide section#main section.phase .fact-box .fb-body ol {
    font-size: 0.75em;
  }
}
body.page-template-guide section#main section.phase .fact-box .fb-body ul {
  list-style-type: disc;
  padding: 0 0 0 20px;
}
body.page-template-guide section#main section.phase .fact-box .fb-body a {
  text-decoration: underline;
}
body.page-template-guide section#main section.phase .faqs {
  padding: 50px 0 0 0;
  max-width: 480px;
}
@media screen and (min-width: 1280px) {
  body.page-template-guide section#main section.phase .faqs {
    padding: 50px 0 50px 50px;
    border-left: 1px solid #eee;
  }
}
body.page-template-guide section#main section.phase .faqs h3 {
  font-family: "chaparral-pro", serif;
  font-style: italic;
  font-size: 1.5em;
  color: #353a3e;
  padding: 0 0 5px 0;
  border-bottom: 2px solid;
}
body.page-template-guide section#main section.phase .faqs .faq {
  padding: 25px 0;
}
body.page-template-guide section#main section.phase .faqs .faq + .faq {
  border-top: 1px dotted #353a3e;
}
body.page-template-guide section#main section.phase .faqs .faq .question h4 {
  font-weight: bold;
  color: #353a3e;
  font-size: 1em;
  line-height: 1.25em;
  transition: color 0.2s ease-in-out;
}
body.page-template-guide section#main section.phase .faqs .faq .question:hover {
  cursor: pointer;
}
body.page-template-guide section#main section.phase .faqs .faq .question:hover h4 {
  color: #84a7a3;
}
body.page-template-guide section#main section.phase .faqs .faq .answer {
  display: none;
  padding: 10px 0 0 0;
}
body.page-template-guide section#main section.phase .faqs .faq .answer p {
  font-size: 0.8125em;
  line-height: 1.75em;
}
body.page-template-guide section#main section.phase .faqs .documents {
  padding: 50px 0 0 0;
}
body.page-template-guide section#main section.phase .faqs .documents p {
  padding: 20px 0 10px 0;
  font-size: 0.8125em;
  line-height: 1.5em;
}
body.page-template-guide section#main section.phase .faqs .documents .document-list .document {
  padding: 10px 0;
}
body.page-template-guide section#main section.phase .faqs .documents .document-list .document a {
  font-size: 0.75em;
  line-height: 18px;
  font-weight: bold;
  display: block;
  padding: 0 0 0 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
body.page-template-guide section#main section.phase .faqs .documents .document-list .document a:hover {
  text-decoration: underline;
}
body.page-template-guide section#main section.phase .faqs .documents .document-list .document a[href$=".pdf"] {
  background-image: url(images/pdf-icon.png);
}
@media screen and (min-width: 768px) {
  body.page-template-guide section#main section.phase:nth-child(even) .body .fact-box {
    order: 3;
  }
  body.page-template-guide section#main section.phase:nth-child(even) .body .narrative {
    order: 2;
  }
  body.page-template-guide section#main section.phase:nth-child(even) .body .faqs {
    order: 1;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-guide section#main section.phase:nth-child(even) .body .faqs {
    border-left: none;
    padding: 50px 50px 50px 0;
    border-right: 1px solid #eee;
  }
}

body.page-template-why section#why-us .info {
  max-width: 960px;
  margin: 0 auto;
}
body.page-template-why section#why-us p {
  text-align: center;
  font-family: "chaparral-pro", serif;
  font-size: 1.5em;
  line-height: 1.5em;
}
body.page-template-why section#amenities {
  padding: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.page-template-why section#amenities .section-header {
  width: 100%;
}
body.page-template-why section#amenities .amenity {
  align-items: center;
  padding: 0 0 50px 0;
  width: 100%;
}
@media screen and (min-width: 480px) {
  body.page-template-why section#amenities .amenity {
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-why section#amenities .amenity {
    width: 31.3333%;
  }
}
body.page-template-why section#amenities .amenity .photo,
body.page-template-why section#amenities .amenity .info {
  width: 100%;
}
body.page-template-why section#amenities .amenity .photo img {
  border: 1px solid #84a7a3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
body.page-template-why section#amenities .amenity .info {
  padding: 20px;
}
body.page-template-why section#amenities .amenity .info h4 {
  color: #84a7a3;
  font-weight: bold;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.25em;
}
body.page-template-why section#amenities .amenity .info p {
  font-size: 1.125em;
  line-height: 1.5em;
  font-family: "chaparral-pro", serif;
}
body.page-template-why section#amenities .amenity .info p + p {
  padding: 15px 0 0 0;
}
body.page-template-why section#technology {
  padding: 100px 0 0 0;
}
body.page-template-why section#technology .technology {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 50px 0;
}
body.page-template-why section#technology .technology .photo,
body.page-template-why section#technology .technology .info {
  width: 100%;
}
body.page-template-why section#technology .technology .photo {
  padding: 0 0 20px 0;
}
body.page-template-why section#technology .technology .photo img {
  border-radius: 50%;
  border: 2px solid #e9be3a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
body.page-template-why section#technology .technology .info h4 {
  color: #84a7a3;
  font-weight: bold;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}
body.page-template-why section#technology .technology .info p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "chaparral-pro", serif;
}
body.page-template-why section#technology .technology .info p + p {
  padding: 15px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.page-template-why section#technology .technology {
    padding: 0 0 100px 0;
  }
  body.page-template-why section#technology .technology .photo {
    width: 30%;
    padding: 0;
  }
  body.page-template-why section#technology .technology .info {
    width: 60%;
  }
}
body.page-template-why section#press {
  padding: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body.page-template-why section#press .section-header {
  width: 100%;
}
body.page-template-why section#press .press {
  align-items: center;
  padding: 0 0 50px 0;
  width: 100%;
}
@media screen and (min-width: 480px) {
  body.page-template-why section#press .press {
    width: 49%;
    padding: 0 1%;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-why section#press .press {
    width: 31.3333%;
  }
}
body.page-template-why section#press .press .photo,
body.page-template-why section#press .press .info {
  width: 100%;
}
body.page-template-why section#press .press .photo img {
  border: 1px solid #84a7a3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
body.page-template-why section#press .press .info {
  padding: 20px;
}
body.page-template-why section#press .press .info h4 {
  color: #84a7a3;
  font-weight: bold;
  padding: 10px 0 20px 0;
  font-size: 1.25em;
  text-align: center;
}
body.page-template-why section#press .press .info p {
  font-size: 1.125em;
  line-height: 1.5em;
  font-family: "chaparral-pro", serif;
}
body.page-template-why section#press .press .info p + p {
  padding: 15px 0 0 0;
}

body.page-template-gentlewave section#hero .info h1 {
  font-weight: bold;
}
body.page-template-gentlewave section#hero .info h2 {
  text-transform: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0;
  max-width: 600px;
}
body.page-template-gentlewave section#features {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-gentlewave section#features {
    padding: 6rem 0;
  }
}
body.page-template-gentlewave section#features .section-header {
  padding-bottom: 3rem;
}
body.page-template-gentlewave section#features .section-header h2 {
  font-size: 1.25rem;
  color: #84a7a3;
  font-weight: bold;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  body.page-template-gentlewave section#features .section-header h2 {
    font-size: 1.5rem;
  }
}
body.page-template-gentlewave section#features .section-header h2:after {
  content: "";
  display: block;
  width: 2rem;
  height: 4px;
  background: #84a7a3;
  margin: 1rem auto 0 auto;
}
body.page-template-gentlewave section#features .feature {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
}
body.page-template-gentlewave section#features .feature + .feature {
  padding-top: 3rem;
}
body.page-template-gentlewave section#features .feature .icon {
  width: 4rem;
  height: 4rem;
}
body.page-template-gentlewave section#features .feature .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body.page-template-gentlewave section#features .feature .info {
  flex: 1;
  padding-left: 1.5rem;
}
body.page-template-gentlewave section#features .feature .info .headline {
  padding-bottom: 0.5rem;
}
body.page-template-gentlewave section#features .feature .info .headline h3 {
  color: #84a7a3;
  font-weight: bold;
}
body.page-template-gentlewave section#features .feature .info .copy {
  font-size: 0.8125rem;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  body.page-template-gentlewave section#features .feature .info .copy {
    font-size: 0.9375rem;
  }
}
body.page-template-gentlewave section#features .feature .info .copy sup {
  color: #e9be3a;
  font-weight: bold;
}
body.page-template-gentlewave section#features .footnotes {
  padding: 1rem 2rem;
  background: #f4f4f2;
  color: #444;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-gentlewave section#features .footnotes {
    margin-top: 6rem;
  }
}
body.page-template-gentlewave section#features .footnotes p {
  font-size: 0.75rem;
  line-height: 1.125em;
}
body.page-template-gentlewave section#features .footnotes p + p {
  padding-top: 0.675rem;
}
body.page-template-gentlewave section#features .footnotes p sup {
  font-weight: bold;
  color: #e9be3a;
}
body.page-template-gentlewave section#video {
  padding: 0 0 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-gentlewave section#video {
    padding: 0 0 6rem 0;
  }
}
body.page-template-gentlewave section#video .section-header {
  padding-bottom: 3rem;
}
body.page-template-gentlewave section#video .section-header h2 {
  font-size: 1.25rem;
  color: #84a7a3;
  font-weight: bold;
  line-height: 1.5em;
}
@media screen and (min-width: 768px) {
  body.page-template-gentlewave section#video .section-header h2 {
    font-size: 1.5rem;
  }
}
body.page-template-gentlewave section#video .section-header h2:after {
  content: "";
  display: block;
  width: 2rem;
  height: 4px;
  background: #84a7a3;
  margin: 1rem auto 0 auto;
}