.locations {
    padding-top: 3rem;
    gap: 4rem 2rem;

    .downtown-seattle {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 5;
        }
    }

    .mercer-island {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 8 / span 5;
        }
    }

    .sub-head {
        text-align: center;
        font-size: $type-size-300;
        padding-bottom: 2rem;
    }

    .info {
        text-align: center;
        padding: 2rem 0;

        h5 {
            font-family: $chaparral;
            font-style: italic;
            font-size: $type-size-300;
            color: $charcoal;
            letter-spacing: 0.05em;
            padding: 0 0 5px 0;
        }

        p {
            padding-bottom: 2rem;
            font-size: $type-size-200;
            line-height: 1.5em;

            &:last-of-type {
                padding-bottom: 0;
            }

            a {
                color: $dark-blue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .directions {
        max-width: 24rem;
        margin: 0 auto;
    }

    .google-maps {
        margin-top: 1rem;
        font-weight: bold;
        display: inline-block;
        color: $green !important;
        border-bottom: 2px solid;

        &:hover {
            text-decoration: none;
        }
    }
}
