.office {
    text-align: center;

    @include tablet {
        grid-column: span 4;
    }

    &.downtown-seattle {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 4 / span 4;
        }
    }

    .sub-head {
        color: $goldenrod;
        padding-bottom: 0.5rem;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-size: $type-size-300;
        line-height: 1.5em;
        font-family: $chaparral;
        font-style: italic;
    }
}
