.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.25rem;

    @include desktop-small {
        margin-top: 2rem;
    }

    p {
        font-size: $type-size-100;
        opacity: 0.25;
    }
}
