nav.cta-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop-small {
        padding-bottom: 2rem;
    }

    .cta-btn {
        width: 100%;
        text-align: center;

        @include tablet {
            width: auto;
        }

        & + .cta-btn {
            margin-top: 0.5rem;

            @include tablet {
                margin-top: 0;
                margin-left: 1.5rem;
            }
        }
    }

    a {
        color: $white;

        &:hover {
            background: $goldenrod;
            color: $white;
        }
    }
}
