@import 'referral';

.site-footer {
    padding: 4rem 0;
    background: $dark-blue;
    color: $white;
    gap: 2rem;

    .wrapper {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .footer-navigation {
                width: 70%;
            }

            .footer-info {
                width: 30%;
            }

            .copyright {
                width: 100%;
            }
        }
    }

    @import 'logo';

    @import 'navigation';

    @import 'contact-info';

    @import 'cta-nav';

    @import 'copyright';
}
