.main-nav {
    text-align: center;

    @include desktop-small {
        grid-column: 4 / span 8;
    }

    a {
        color: $white;
        display: block;
        padding: 10px 0;
        font-size: $type-size-200;
        line-height: 1.75em;

        @include tablet {
            display: inline-block;
            padding: 0 10px 0 0;

            & + a {
                &:before {
                    content: '/';
                    padding: 0 10px 0 0;
                    display: inline-block;
                }
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
