.referral {
    background: $light-green;
    padding: 4rem 0;
    text-align: center;
    color: $dark-blue;

    h4 {
        font-size: $type-size-600;
        font-weight: 700;
        padding: 0 0 1.5rem 0;
    }

    a {
        display: inline-block;
        border-color: $dark-blue;
        color: $dark-blue;

        &:hover {
            text-decoration: none;
            background: $dark-blue;
            color: $light-green;
        }
    }
}
