h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.sub-head {
    font-weight: 600;
    color: $green;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $type-size-100;
}

.section-header {
    text-align: center;

    h3 {
        color: $green;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: 0.9375em;
        padding: 0 0 10px 0;
        border-bottom: 4px solid;
        display: inline-block;
        margin: 0 0 50px 0;

        &.goldenrod {
            color: $goldenrod;
        }

        &.dark-blue {
            color: $dark-blue;
        }
    }
}
