body,
button,
input,
select,
optgroup,
textarea {
    font-family: $montserrat;
    color: $slate;
}

::-moz-selection {
    background: $goldenrod;
    text-shadow: none;
}

::selection {
    background: $goldenrod;
    text-shadow: none;
}

a {
    color: $green;
    text-decoration: none;
    transition: all 0.2s ease;
}

@import 'headings';

@import 'copy';
