@font-face {
    font-family: 'acherus';
    src: url('fonts/acherus_grotesque_-_regular-webfont.woff2') format('woff2'), url('fonts-_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$acherus: 'acherus', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$chaparral: 'chaparral-pro', serif;
