@mixin wrapper-padding {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include desktop-small {
        padding: 0 50px;
    }

    @media screen and (min-width: 1250px) {
        padding: 0;
    }
}
