section.covid-message {
    background: $dark-blue;
    padding: 50px 0;

    @include tablet {
        padding: 75px 0 100px 0;
    }

    .wrapper {
        max-width: 480px;
    }

    .logo {
        padding-bottom: 50px;
        a {
            display: block;
            max-width: 150px;
            margin: 0 auto;
        }
    }

    .copy {
        p {
            font-family: $acherus;
            color: $white;
            font-size: 0.875rem;
            line-height: 1.5em;

            @include tablet {
                font-size: 1.125rem;
            }

            & + p {
                padding-top: 25px;
            }

            a {
                color: $goldenrod;
                text-decoration: underline;
            }
        }
    }
}
