body.page-template-contact {
    .site-header {
        .office {
            display: none;

            @include desktop-small {
                display: block;
            }
        }
    }
    @import 'contact/locations';

    @import 'contact/form';
}
