body.page-template-gentlewave {
    section#hero {
        .info {
            h1 {
                font-weight: bold;
            }

            h2 {
                text-transform: none;
                color: $white;
                font-weight: 500;
                letter-spacing: 0;
                max-width: 600px;
            }
        }
    }

    section#features {
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0;
        }

        .section-header {
            padding-bottom: 3rem;

            h2 {
                font-size: 1.25rem;
                color: $green;
                font-weight: bold;
                line-height: 1.5em;

                @include tablet {
                    font-size: 1.5rem;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 2rem;
                    height: 4px;
                    background: $green;
                    margin: 1rem auto 0 auto;
                }
            }
        }

        .feature {
            display: flex;
            max-width: 720px;
            margin: 0 auto;

            & + .feature {
                padding-top: 3rem;
            }

            .icon {
                width: 4rem;
                height: 4rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .info {
                flex: 1;
                padding-left: 1.5rem;

                .headline {
                    padding-bottom: 0.5rem;

                    h3 {
                        color: $green;
                        font-weight: bold;
                    }
                }

                .copy {
                    font-size: 0.8125rem;
                    line-height: 1.5em;

                    @include tablet {
                        font-size: 0.9375rem;
                    }

                    sup {
                        color: $goldenrod;
                        font-weight: bold;
                    }
                }
            }
        }

        .footnotes {
            padding: 1rem 2rem;
            background: $light-gray;
            color: $charcoal;
            max-width: 920px;
            margin: 0 auto;
            margin-top: 3rem;

            @include tablet {
                margin-top: 6rem;
            }

            p {
                font-size: 0.75rem;
                line-height: 1.125em;

                & + p {
                    padding-top: 0.675rem;
                }

                sup {
                    font-weight: bold;
                    color: $goldenrod;
                }
            }
        }
    }

    section#video {
        padding: 0 0 3rem 0;

        @include desktop-small {
            padding: 0 0 6rem 0;
        }

        .section-header {
            padding-bottom: 3rem;

            h2 {
                font-size: 1.25rem;
                color: $green;
                font-weight: bold;
                line-height: 1.5em;

                @include tablet {
                    font-size: 1.5rem;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 2rem;
                    height: 4px;
                    background: $green;
                    margin: 1rem auto 0 auto;
                }
            }
        }
    }
}
