body.page-template-guide {
    section#main {
        counter-reset: section;

        section.phase {
            & + section.phase {
                padding: 50px 0 0 0;
                border-top: 1px dotted $green;
                margin: 50px 0 0 0;

                @include desktop-medium {
                    padding: 100px 0 0 0;
                    margin: 100px 0 0 0;
                }
            }

            .header {
                padding: 0 0 25px 0;

                @include tablet {
                    padding: 0 0 50px 0;
                }

                h2.phase-title {
                    font-weight: 900;
                    font-size: 1.5em;
                    line-height: 1em;
                    color: $dark-blue;
                    max-width: 640px;
                    margin: 0 auto;

                    @include tablet {
                        text-align: center;
                        font-size: 2.5em;
                    }

                    &:before {
                        display: block;
                        counter-increment: section;
                        content: 'Phase ' counter(section);
                        font-weight: 100;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        font-size: 0.5625em;
                        padding: 0 0 10px 0;
                        color: $green;

                        @include tablet {
                            font-size: 0.375em;
                            font-weight: 600;
                        }
                    }
                }
            }

            .body {
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .fact-box {
                        order: -1;
                        width: 20%;
                    }

                    .narrative {
                        width: 45%;
                    }

                    .faqs {
                        width: 25%;
                    }
                }

                @include desktop-medium {
                    .fact-box {
                        order: -1;
                        width: 17.5%;
                        margin: 25px 0 0 0;
                    }

                    .narrative {
                        width: 47.5%;
                        padding: 0 50px 0 50px;
                    }

                    .faqs {
                        width: 20%;
                    }
                }
            }

            .narrative {
                padding: 0 0 50px 0;

                p {
                    font-family: $chaparral;
                    font-size: 1.125em;
                    line-height: 1.5em;

                    @include tablet {
                        font-size: 1.375em;

                        &:first-child:first-letter {
                            color: $goldenrod;
                            float: left;
                            font-size: 4em;
                            font-style: italic;
                            line-height: 1em;
                            margin: 5px 10px 0 0;
                        }
                    }

                    @include desktop-medium {
                        font-size: 1.5em;
                    }

                    & + p {
                        padding: 5px 0 0 0;
                        text-indent: 25px;
                    }
                }

                ul {
                    clear: both;
                    font-family: $chaparral;
                    font-size: 1.125em;
                    line-height: 1.5em;
                    padding: 0 0 0 20px;
                    list-style-type: disc;
                    margin: 0 0 0 20px;

                    @include tablet {
                        font-size: 1.25em;
                    }
                }
            }

            .fact-box {
                border: 1px solid $goldenrod;
                max-width: 320px;

                @include tablet {
                    margin: 50px 0 0 0;
                }

                .fb-header {
                    background: $goldenrod;
                    padding: 15px 10px;
                    text-align: center;

                    h4 {
                        color: $white;
                        font-weight: 900;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        font-size: 0.8125em;
                        line-height: 1.25em;
                    }
                }

                .fb-body {
                    padding: 20px;

                    p,
                    ul,
                    ol {
                        font-size: 0.875em;
                        line-height: 1.75em;

                        @include tablet {
                            font-size: 0.75em;
                        }
                    }

                    ul {
                        list-style-type: disc;
                        padding: 0 0 0 20px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }

            .faqs {
                padding: 50px 0 0 0;
                max-width: 480px;

                @include desktop-medium {
                    padding: 50px 0 50px 50px;
                    border-left: 1px solid #eee;
                }

                h3 {
                    font-family: $chaparral;
                    font-style: italic;
                    font-size: 1.5em;
                    color: $dark-blue;
                    padding: 0 0 5px 0;
                    border-bottom: 2px solid;
                }

                .faq {
                    padding: 25px 0;

                    & + .faq {
                        border-top: 1px dotted $dark-blue;
                    }

                    .question {
                        h4 {
                            font-weight: bold;
                            color: $dark-blue;
                            font-size: 1em;
                            line-height: 1.25em;
                            transition: color 0.2s ease-in-out;
                        }

                        &:hover {
                            cursor: pointer;

                            h4 {
                                color: $green;
                            }
                        }
                    }

                    .answer {
                        display: none;
                        padding: 10px 0 0 0;
                        p {
                            font-size: 0.8125em;
                            line-height: 1.75em;
                        }
                    }
                }

                .documents {
                    padding: 50px 0 0 0;

                    p {
                        padding: 20px 0 10px 0;
                        font-size: 0.8125em;
                        line-height: 1.5em;
                    }

                    .document-list {
                        .document {
                            padding: 10px 0;

                            a {
                                font-size: 0.75em;
                                line-height: 18px;
                                font-weight: bold;
                                display: block;
                                padding: 0 0 0 20px;
                                background-repeat: no-repeat;
                                background-position: 0 0;

                                &:hover {
                                    text-decoration: underline;
                                }

                                &[href$='.pdf'] {
                                    background-image: url(images/pdf-icon.png);
                                }
                            }
                        }
                    }
                }
            }
        }

        section.phase:nth-child(even) {
            .body {
                @include tablet {
                    .fact-box {
                        order: 3;
                    }

                    .narrative {
                        order: 2;
                    }

                    .faqs {
                        order: 1;
                    }
                }

                @include desktop-medium {
                    .faqs {
                        border-left: none;
                        padding: 50px 50px 50px 0;
                        border-right: 1px solid #eee;
                    }
                }
            }
        }
    }
}
