body.home {
    section#about-statement {
        padding: 50px 0;

        @include tablet {
            padding: 100px 0;
        }

        .wrapper {
            max-width: 960px;
        }

        p {
            text-align: center;
            font-family: $chaparral;
            font-size: 1.125em;
            line-height: 1.5em;
            color: $dark-blue;

            @include tablet {
                font-size: 1.5em;
            }
        }
    }

    section#appointment {
        padding: 50px 0;
        background: $goldenrod;
        color: $white;
        text-align: center;

        h3 {
            font-size: 1.5em;
            font-weight: 700;
            padding: 0 0 10px 0;

            @include tablet {
                font-size: 2.5em;
            }
        }

        p {
            font-style: italic;
            font-family: $chaparral;
            padding: 0 0 20px 0;
            font-size: 1.25em;
        }

        .btn {
            color: $white;
            border-color: $white;

            &:hover {
                background: $white;
                color: $goldenrod;
            }
        }
    }

    section#features {
        padding: 50px 0;

        h3 {
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: $dark-blue;

            span {
                border-bottom: 2px solid;
                display: inline-block;
                margin: 0 0 50px 0;
                padding: 0 0 10px 0;
            }
        }

        @include tablet {
            padding: 100px 0;
        }

        .features-wrapper {
            @include tablet {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .feature {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 100px 0;

            @include tablet {
                padding: 0;
                width: 33.3333%;
                display: block;
            }

            .info,
            .photo {
                width: 45%;

                @include tablet {
                    width: 100%;
                }
            }

            &:nth-child(odd) {
                .photo {
                    order: 2;

                    img {
                        @include tablet {
                            margin: 0 auto;
                        }
                    }
                }
            }

            &:nth-child(even) {
                .photo {
                    img {
                        margin-left: auto;

                        @include tablet {
                            margin: 0 auto;
                        }
                    }

                    @include tablet {
                        order: -1;
                    }
                }
            }
        }

        .info {
            @include tablet {
                text-align: center;
                padding: 50px 30px 0 30px;
            }

            h4 {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-style: 0.875em;
                padding: 0 0 10px 0;

                a {
                    color: $slate;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            p {
                font-family: $chaparral;
                font-size: 1em;
                line-height: 1.25em;
                padding: 0 0 10px 0;

                @include tablet {
                    font-size: 1.125em;
                }
            }
        }

        .photo {
            img {
                border-radius: 50%;
                border: 2px solid $goldenrod;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

                @include tablet {
                    width: 75%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }

    section#instagram {
        padding: 0 0 100px 0;

        #sb_instagram #sbi_load {
            padding: 0 !important;
        }

        #sb_instagram #sbi_load .sbi_follow_btn {
            margin: 0;
            padding: 25px 0 0 0;
        }
    }
}
