body.page-template-payments {
    section#payment-info,
    section#payment-form {
        padding: 100px 0 0 0;
    }

    section.copy {
        margin: 0 auto;
        max-width: 720px;

        p {
            font-family: $chaparral;
            padding: 0 0 20px 0;
            font-size: 1.25em;
            line-height: 1.5em;
        }

        ul {
            font-family: $montserrat;
            font-size: 0.75em;
            line-height: 1.5em;
            margin: 0 0 40px 0;

            @include tablet-small {
                columns: 2;
                column-width: 50%;
            }

            @include tablet {
                columns: 3;
                column-width: 33.3333%;
            }

            li {
                font-size: 1.25em;
                padding: 5px 0;

                &:before {
                    content: '· ';
                    color: $goldenrod;
                    font-weight: bold;
                    padding: 0 5px 0 0;
                    display: inline-block;
                }

                @include tablet-small {
                }

                @include tablet {
                }
            }
        }
    }

    section#payment-form {
        form {
            padding: 0 0 40px 0;

            input[type='image'] {
                display: block;
                margin: 0 auto;

                &:hover {
                    cursor: pointer;
                }

                &:focus,
                &:active {
                    outline: none;
                }
            }
        }

        p {
            text-align: center;
        }
    }
}
