body.page-template-referrals {
    section.copy {
        margin: 0 auto;
        max-width: 720px;
        padding: 50px 0 0 0;

        p {
            font-family: $chaparral;
            padding: 0 0 20px 0;
            font-size: 1.25em;
            line-height: 1.5em;
        }

        ul {
            font-family: $montserrat;
            padding: 20px 0 40px 0px;
            font-size: 0.9375em;
            line-height: 1.5em;

            @include tablet {
                columns: 3;
                column-width: 33.3333%;
                font-size: 0.875em;
            }

            li {
                position: relative;
                padding: 0 0 10px 0;

                &:before {
                    content: '·';
                    padding: 0 5px 0 0;
                    color: $goldenrod;
                    font-weight: 900;
                }
            }
        }
    }
}
