body.page-template-schedule {


	section.copy {
		margin: 0 auto;
		max-width: 720px;
		padding: 0 0 50px 0;

		p {
			font-family: $chaparral;
			padding: 0 0 20px 0;
			font-size: 1.25em;
			line-height: 1.5em;

		}
	}



}