body.page-template-why {
    section#why-us {
        .info {
            max-width: 960px;
            margin: 0 auto;
        }

        p {
            text-align: center;
            font-family: $chaparral;
            font-size: 1.5em;
            line-height: 1.5em;
        }
    }

    section#amenities {
        padding: 100px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .section-header {
            width: 100%;
        }

        .amenity {
            align-items: center;
            padding: 0 0 50px 0;
            width: 100%;

            @include tablet-small {
                width: 49%;
            }

            @include tablet {
                width: 31.3333%;
            }

            .photo,
            .info {
                width: 100%;
            }

            .photo {
                img {
                    border: 1px solid $green;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                    margin: 0 auto;
                }
            }

            .info {
                padding: 20px;

                h4 {
                    color: $green;
                    font-weight: bold;
                    padding: 0 0 10px 0;
                    text-transform: uppercase;
                    font-size: 1.125em;
                    letter-spacing: 0.05em;
                    text-align: center;
                    line-height: 1.25em;
                }

                p {
                    font-size: 1.125em;
                    line-height: 1.5em;
                    font-family: $chaparral;

                    & + p {
                        padding: 15px 0 0 0;
                    }
                }
            }
        }
    }

    section#technology {
        padding: 100px 0 0 0;

        .technology {
            max-width: 640px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 50px 0;

            .photo,
            .info {
                width: 100%;
            }

            .photo {
                padding: 0 0 20px 0;
                img {
                    border-radius: 50%;
                    border: 2px solid $goldenrod;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                    margin: 0 auto;
                }
            }

            .info {
                h4 {
                    color: $green;
                    font-weight: bold;
                    padding: 0 0 10px 0;
                    text-transform: uppercase;
                    font-size: 1.125em;
                    line-height: 1.25em;
                    letter-spacing: 0.05em;
                }

                p {
                    font-size: 1em;
                    line-height: 1.5em;
                    font-family: $chaparral;

                    & + p {
                        padding: 15px 0 0 0;
                    }
                }
            }

            @include tablet {
                padding: 0 0 100px 0;

                .photo {
                    width: 30%;
                    padding: 0;
                }

                .info {
                    width: 60%;
                }
            }
        }
    }

    section#press {
        padding: 100px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .section-header {
            width: 100%;
        }

        .press {
            align-items: center;
            padding: 0 0 50px 0;
            width: 100%;

            @include tablet-small {
                width: 49%;
                padding: 0 1%;
            }

            @include tablet {
                width: 31.3333%;
            }

            .photo,
            .info {
                width: 100%;
            }

            .photo {
                img {
                    border: 1px solid $green;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                    margin: 0 auto;
                }
            }

            .info {
                padding: 20px;

                h4 {
                    color: $green;
                    font-weight: bold;
                    padding: 10px 0 20px 0;
                    font-size: 1.25em;
                    text-align: center;
                }

                p {
                    font-size: 1.125em;
                    line-height: 1.5em;
                    font-family: $chaparral;

                    & + p {
                        padding: 15px 0 0 0;
                    }
                }
            }
        }
    }
}
