.btn {
    color: $slate;
    padding: 12px 20px 10px;
    font-size: $type-size-150;
    line-height: 1em;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-transform: uppercase;
    border: 2px solid $goldenrod;
    display: inline-block;

    &:hover {
        background: $goldenrod;
        color: $white;
    }
}
