@import 'cta';

body {
    background: #fcfcfc;
}

.wrapper {
    @include wrapper-padding;
}

.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section#hero {
    display: flex;
    flex-wrap: wrap;

    .info,
    .photo {
        height: 240px;
        width: 100%;

        @include tablet-small {
            height: 360px;
        }

        @include tablet {
            height: 480px;
            width: 50%;
        }

        @include desktop-medium {
            height: 600px;
        }
    }

    .wrapper {
        height: 100%;
    }

    .hero-wrapper {
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding: 0 0 25px 0;

        @include tablet {
            padding: 0 0 50px 0;
        }
    }

    .info {
        background: $green;
        align-items: center;
        display: flex;

        padding: 50px;

        h1 {
            font-family: $montserrat;
            font-weight: 300;
            font-size: 1.5em;
            line-height: 1.25em;
            color: $white;
            max-width: 480px;

            br {
                display: none;
            }

            @include tablet {
                font-size: 1.75em;
            }

            @include desktop-medium {
                font-size: 2.5em;
            }
        }

        h2 {
            color: $dark-blue;
            text-transform: uppercase;
            font-family: $montserrat;
            font-weight: 700;
            font-size: 0.875em;
            line-height: 1.5em;
            letter-spacing: 0.05em;
            padding: 15px 0 0 0;

            @include tablet {
                font-size: 1em;
            }

            @include desktop-medium {
                font-size: 1.125em;
            }

            &::before {
                content: '';
                display: block;
                width: 40px;
                height: 2px;
                background: $dark-blue;
                margin: 0 0 20px 0;

                @include desktop-medium {
                    height: 4px;
                }
            }
        }
    }
}

section#main {
    padding: 50px 0;

    @include tablet {
        padding: 100px 0;
    }
}

.jp-carousel-info {
    display: none;
}

.jp-carousel-overlay {
    opacity: 0.98 !important;
}

.jp-carousel-close-hint span {
    font-size: 48px !important;
    height: 48px;
}

body div.wpforms-container-full {
    margin: 0 auto;
    max-width: 640px;
}

body div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
body div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
body div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
}

body div.wpforms-container-full .wpforms-form button[type='submit'] {
    color: $slate;
    padding: 12px 20px 10px;
    font-size: 0.6875em;
    line-height: 1em;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid $goldenrod;
    display: inline-block;
    background: transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: $goldenrod;
        color: $white;
    }
}
