.awards {
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .award {
        width: 100%;
        padding: 0 0 25px 0;

        img {
            max-width: 300px;
            margin: 0 auto;

            @include tablet-small {
                max-width: 220px;
            }

            @include desktop-small {
                max-width: 300px;
            }
        }

        @include tablet-small {
            width: 48%;
        }

        @include tablet {
            width: 31.3333%;
        }
    }
}
