section#our-doctors {
    padding: 3rem 0;

    .doctor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & + .doctor {
            padding-top: 6rem;
        }

        &:nth-child(even) {
            @include tablet {
                .info {
                    order: -1;
                }
            }
        }
    }

    .photo,
    .info {
        width: 100%;

        @include tablet {
            width: 50%;
        }
    }

    .info {
        padding: 25px 0 0 0;

        @include tablet {
            padding: 50px;
        }
        h2 {
            color: $green;
            font-weight: bold;
            padding: 0 0 5px 0;
            text-transform: uppercase;
            font-size: 1.25em;
            letter-spacing: 0.05em;
        }

        h5 {
            padding: 0 0 25px 0;
            color: $goldenrod;
            font-weight: bold;
            font-size: 1em;
        }

        p {
            font-size: 1.125em;
            line-height: 1.375em;
            font-family: $chaparral;

            & + p {
                padding: 15px 0 0 0;
            }
        }
    }
}
