section#team {
    padding: 100px 0 0 0;

    .team-member {
        max-width: 640px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 50px 0;

        .photo,
        .info {
            width: 100%;
        }

        .photo {
            padding: 0 0 20px 0;
            img {
                border-radius: 50%;
                border: 2px solid $goldenrod;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                margin: 0 auto;
            }
        }

        .info {
            h4 {
                color: $green;
                font-weight: bold;
                padding: 0 0 5px 0;
                text-transform: uppercase;
                font-size: 1.125em;
                letter-spacing: 0.05em;
            }

            h5 {
                padding: 0 0 25px 0;
                color: $goldenrod;
                font-weight: bold;
                font-size: 0.875em;
            }

            p {
                font-size: 1em;
                line-height: 1.375em;
                font-family: $chaparral;

                & + p {
                    padding: 15px 0 0 0;
                }
            }
        }

        @include tablet {
            padding: 0 0 100px 0;

            .photo {
                width: 30%;
                padding: 0;
            }

            .info {
                width: 60%;
            }
        }
    }
}
